.bodies {
  display: flex;
  flex-flow: row wrap;
}

.body {
  flex: 1 0;
  max-width: 250px;
  min-width: 250px;
  padding: 12px;
  margin: 12px;
  background-color: transparent;
  transition: background-color 1s ease-in-out;

  h4 {
    margin-top: 0;
  }
}

.body.detail {
  background-color: rgba(yellow, 0.12);
}

.body.mapped {
  background-color: rgba(green, 0.12);
}

.body.star {
  position: relative;
  background-color: rgba(#ff9200, 0.06);

  &::before {
    content: '';
    position: absolute;
    border: 12px solid #ff9200;
    border-color: #ff9200 transparent transparent transparent;
    transform: rotate(135deg);
    left: -12px;
    top: -12px;
  }
}

.body.belt {
  background-color: #f6f6f6;
}
